.Modal_HeaderWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
    }
}

.Modal_FormItem {
    margin-bottom: 14px;

    @media screen and (min-width: 768px) {
        margin-bottom: 16px;
    }
}
.Modal_FormItem:last-child {
    margin-bottom: 32px;
}
.Modal_FormItemHead {
    font-weight: var(--bold-font-weight);
    font-size: 12px;
    line-height: 14px;
    color: #111111;
    margin-bottom: 8px;
}
.Modal_FormInput {
    padding: 14px 18px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 8px;
    width: 100%;
}
.Modal_FormLabel {
    cursor: pointer;
    text-decoration-line: underline;
    color: #121417;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.Modal_FormUpload {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
}

.Modal_Form_UploadedFilesItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Modal_Form_UploadedFilesItem:not(:last-child) {
    margin-bottom: 8px;
}
.Modal_Form_UploadedFilesItem:last-child {
    margin-bottom: 32px;
}
.Modal_Form_UploadedFilesSubItem {
    display: flex;
    align-items: center;
    gap: 8px;
}
.Modal_Form_UploadedFileName {
    font-weight: var(--semibold-font-weight);
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
}
.Modal_Form_UploadedFileDelete {
    padding: 3px;
    background: none;
    border: none;
    cursor: pointer;
}
