.title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;

    @media (min-width: 768px) {
        font-size: 20px;
        line-height: 1.5;
    }
}

.titleWrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    @media (min-width: 768px) {
        margin-bottom: 32px;
    }
}

.label {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    color: var(--main-text);
    margin-bottom: 8px;
}

.formWrapp {
    margin-bottom: 20px;

    @media (min-width: 768px) {
        margin-bottom: 32px;
    }
}

.inputWrapp {
    margin-bottom: 14px;

    @media (min-width: 768px) {
        margin-bottom: 16px;
    }
}
