.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 32px;
}

.inputList{
    display: flex;
    flex-direction: column;
    gap:16px
}
