.container {
    padding: 0 20px;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 32px;
    }
}
@media screen and (min-width: 1440px) {
    .container {
        padding: 0 64px;
    }
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 20px 0 0 0;
}
@media screen and (min-width: 768px) {
    .wrapper {
        padding: 24px 0 0 0;
    }
}
@media screen and (min-width: 1440px) {
    .wrapper {
        padding: 24px 64px 0 64px;
    }
}
