.section {
    position: relative;
    background-color: #0f3937;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-bottom: 16px;
}

.logo {
    margin-bottom: 14px;
}

.container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    align-items: flex-start;
}

.firstpart_doctor {
    margin-bottom: 108px;
}

.secondpart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .secondpart {
        /* margin-top: 40px; */
    }
}

.iconlist {
    display: flex;
    margin-left: auto;
}

.listitem:not(:last-child) {
    margin-right: 14px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .listitem:not(:last-child) {
        margin-right: 16px;
    }
    .secondpart {
        right: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .listitem:not(:last-child) {
        margin-right: 24px;
    }
    .secondpart {
        right: 128px;
    }
}

.logoFooter {
    color: #ffffff;
}

.title {
    color: #ffffff;
    margin-bottom: 24px;
    width: 309px;
    font-size: 16px;
}

.title_doctor {
    color: #ffffff;
    width: 309px;
    font-size: 16px;
}

.text {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
}

.btn {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #0f3937;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 16px 40px;
    /* margin-top: 24px; */
}

.btn:hover,
.btn:focus {
    background: #477577;
}

.footerbottom {
    display: flex;
    justify-content: center;
}

.box {
    margin-bottom: 32px;
}

.iconStyles {
    color: #ffffff;
    width: 19px;
    height: 19px;

    @media screen and (min-width: 768px) {
        width: 28px;
        height: 28px;
    }
}

.footerdesc {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 767px) {
    .section {
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .container {
        flex-direction: column;
    }
    .title {
        font-size: 14px;
        margin-bottom: 20px;
        width: 220px;
    }
    .text {
        font-size: 8px;
    }
    .copyright {
        bottom: 8px;
    }
    .box {
        /* margin-left: 20px; */
    }
    .btn {
        margin-bottom: 40px;
        font-size: 12px;
        padding: 10px 16px;
        border-radius: 6px;
    }
}

@media screen and (min-width: 768px) {
    .section {
        padding-top: 32px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .container {
        flex-direction: row;
    }
}

@media screen and (min-width: 1440px) {
    .section {
        padding-top: 64px;
        padding-left: 128px;
        padding-right: 128px;
    }

    .footerdesc {
        font-size: 14px;
        line-height: 18px;
    }
}
